.h1{
top: 15px;
/* left: 50000px; */

font: normal normal medium 69px/91px Roboto;
font-size:  45px;
font-weight: 500;

/* color: brown; */
}
.img{
    width: 200px;
    height: 300px;
}
.div1{
    margin-left: 450px;
    margin-right: 450px;
    

}
.r{
    background-color: white;
    /* border: black; */
    width: 200px;
    height: 300px;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .d:hover .overlay {
    opacity: 1;
  }

/* #body{
    background-color: gray;
} */
